.search-page {
	position: relative;
}
.search-header {
	height: 40px;
}
.search-filters,
.search-filters-title {
	width: 200px;
}
.search-filters-title {
	font-size: 16px;
	font-weight: 700;
}
.search-categories {
	margin-left: 200px;
	background: #fff;
}
.search-output {
  padding: 10px;
  margin: 0 0 10px 200px;
  min-height: 300px;

  [class*="block-grid-"] {
    margin-left: 0;
    margin-right: 0;
  }
}

.search-filters {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px;
	background: #fff;


	section {
		margin-bottom: 25px;

		.filter-title {
			font-size: 16px;
		}
	}

	.ui-slider {
		margin: 0 6px;
	}
	.slider-values {
		height: 10px;
		margin: 8px 0 0;
		font-size: 13px;

		.slider-value-from {
			float: left;
		}
		.slider-value-to {
			float: right;
		}
		i {
			font-size: 18px;
		}
	}

	.bg-color-picker-wrapper {
		position: relative;

		.glyphicon {
			position: absolute;
			top: 10px;
			right: 10px;
			pointer-events: none;
		}
	}
} 

.search-not-found {
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
}
